<div class="container">
  <h2>EASYEAT FORM </h2>
  <hr>
  <form [formGroup]="discountForm" (submit)="saveForm()">

    <label for="discount_type">Discount Type : </label>
    <select formControlName="discount_type" id="discount_type">
      <option *ngFor="let item of discount_types" [value]="item.value">{{item.label|titlecase}}</option>
    </select>


    <label for="product">Product : </label>
    <span *ngIf="discountFormControl.value==0">Rs. </span>
    <input  formControlName="product" id="product" type="number">
    <span *ngIf="discountFormControl.value==1"> %</span>
    <div *ngIf="!productFormControl.valid&&productFormControl.touched" class="error">** Mandatory Field. {{(discountFormControl?.value==0)?flatDiscountError:(discountFormControl?.value==1)?percentageDiscountError:''}}</div>

    <label for="premium">Premium Member :</label>
    <input formControlName="premium" type="checkbox" id="premium">


    <p>Restaurent Level </p>
    <span class="radioContainer">
      <label for="low">Low Level
        <input formControlName="level" type="radio" value="low" id="low">
      </label>
      <label for="mid">Mid Level
        <input formControlName="level" type="radio" value="mid"  id="mid">
      </label>
      <label for="high">High Level
        <input formControlName="level" type="radio"  value="high" id="high">
      </label>
    </span>


    <label for="active">Active : </label>
    <label class="switch">
      <input formControlName="active" id="active" type="checkbox">
      <span class="slider"></span>
    </label>

    <br>

    <button [disabled]="!discountForm.valid" class="submit_btn" type="submit">Save</button>
<div class="container" *ngIf="showOp"> 
  <h4>Form Output</h4>
  {{discountForm.value|json}}
</div>
  </form>
</div>

